body {
    background-color: lightgray;
    font-size: 18px;
    height: 100vh;
}

h2 {
    text-align: center;
}

p {
    margin-left: 50px;
}

ul{
    margin-left: 80px;
    list-style: lower-alpha;
}

form {

    border: 1px solid black;
    width: 400px;
    margin: auto;
    padding: 10px;
}

.form-group {
    margin: 12px 4px;
}
.form-group-list {
    display: inline-block;
    margin: 12px 4px;
    
}
.form-group label {
    display: block;
}

.form-group label.inline {
    display: inline-block;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 20px auto;
    width: 600px;
    height: 50px;

    
}

tr,td,th {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

.error {
    color: red;
    display: none;
}

.invalid {
    border: 1px solid red;
}
.valid {
    border: 1px solid green;
}